@import "tailwindcss";

@theme {
  --radius: 0.625rem;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.147 0.004 49.25);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.147 0.004 49.25);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.147 0.004 49.25);
  --color-primary: oklch(0.216 0.006 56.043);
  --color-primary-foreground: oklch(0.985 0.001 106.423);
  --color-secondary: oklch(0.97 0.001 106.424);
  --color-secondary-foreground: oklch(0.216 0.006 56.043);
  --color-muted: oklch(0.97 0.001 106.424);
  --color-muted-foreground: oklch(0.553 0.013 58.071);
  --color-accent: oklch(0.97 0.001 106.424);
  --color-accent-foreground: oklch(0.216 0.006 56.043);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.985 0.001 106.423);
  --color-border: oklch(0.923 0.003 48.717);
  --color-input: oklch(0.923 0.003 48.717);
  --color-ring: oklch(0.709 0.01 56.259);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}